<h2>注文情報入力</h2>
 <p>お届け先</p>
 <tr>
   <td><%= f.radio_button :to_address, 0 %> <%= f.label :to_address, "ご自身の住所" %></td>
   <td>
     〒<%= current_customer.postal_code %>　<%= current_customer.address %>
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </td>
  <% end %>
