<div class="container">
  <h3>注文履歴詳細</h3>
    <p>注文情報</p>

  <table class="table">
    <thead>
      <tr>
        <th>注文日</th>
        <th>お届け日</th>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>個数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @order.order_items.each do |order_item| %>
        <td><%= @order.created_at.strftime('%Y年%m月%d日') %></td>
        <td><%= @order.start_date %></td>
        <td><%= order_item.item.item_name %></td>
        <td>¥<%= (order_item.item.price * 1.1).floor.to_s(:delimited) %></td>
        <td><%= order_item.number_of_piaces %></td>

    </tbody>
    <% end %>
    </tr>
  </table>

  <h4>請求金額</h4>
  <h2>¥<%= @order.total_price.to_s(:delimited) %></h2>
