<h2><span class="badge mb-3"><%= @customer.first_name %> <%= @customers.last_name %>さんの会員情報</h2>

<tr>
  <th>会員ID</th>
  <td><%= @customer.id %></td>
</tr>

<tr>
  <th>氏名</th>
  <td><%= @customer.last_name %><%= @customer.first_name %></td>
</tr>

<tr>
  <th>郵便番号</th>
  <td><%= @customer.postal_code %></td>
</tr>

<tr>
  <th>住所</th>
  <td><%= @customer.address %></td>
</tr>

<tr>
  <th>電話番号</th>
  <td><%= @customer.tel %></td>
</tr>

<tr>
  <th>メールアドレス</th>
  <td><%= @customer.email %></td>
</tr>

<tr>
  <th>会員ステータス</th>
  <td><% if @customer.is_deleted %>
    <p>退会</p>
  <% else %>
    <p>有効</p>
  <% end %>
  </td>
</tr>

<tr>
  <th></th>
  <td><%= link_to '編集する', edit_admins_customer_path(@customer.id) %></td>
  <td><%= link_to '注文履歴一覧',admin_orders_path(order: 'customer') %></td>
</tr>