<div class="container" id="items-container">
  <h1>お気に入り商品</h1>
  <% @favorite_items.each do |item|%>
  <div class = "favorite" id='item_<%= item.id %>'>
    <%= render 'item', item: item %>
  <% end %>
  </div>
</div>

 <div class="row">
  <h1>商品一覧</h1>

    <% @items.each do |item| %>
    <div class="col-lg-3 col-md-7 mb-5">
      <div class="card-deck" style="width: 19rem;">
        <div class="shadow-sm card">

           <%= link_to item_path(item.id) do %>
             <%= attachment_image_tag item, :image, :fill, 500, 300, fallback: "no-image.jpg",class:"card-img-top" %>
           <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.item_name, item_path(item.id) %></h5>
            <p class="card-text"><%= item.detail %></p>
            <h3><%= item.add_tax_price.to_s(:delimited) %>円</h3>
            <button type="button" class="btn btn-outline-warning"><%= link_to "注文する",item_path(item.id) %></button>

            <div class = "favorite" id='item_<%= item.id %>'>
              <%= render 'favorite', item: item %>
            </div>

          </div>
        </div>
      </div>
    </div>
    <% end %>
   </div>
</div>
