<h2 class="mt-3 text-center">ログイン</h2>
<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

<tr>
  <th><%= f.label :email %></th>
  <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
</tr>

<tr>
  <th><%= f.label :password %></th>
  <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
</tr>

  <%= f.submit "ログイン" %>
<% end %>

<h8>会員登録がお済みでないお客様は
<%= link_to "こちら",new_customer_registration_path %>
  から新規登録を行ってください</h8>
