<% unless admin_signed_in? %>
 <%= render "customers/shared/header" %>

 <% else %>
   <%= link_to admins_items_path, class: "navbar-brand" do %>
     <%= image_tag 'headlogo.png', { height:50 } %>
   <% end %>

   <h1>管理者ページ</h1>

   <li class="nav-item">
     <%= link_to "商品一覧",  admins_items_path, class: "nav-link" %>
   </li>

   <li class="nav-item">
     <%= link_to "会員一覧", admins_customers_path, class: "nav-link" %>
   </li>

   <li class="nav-item">
     <%= link_to "注文履歴一覧", admins_orders_path(order: 'all'), class: "nav-link" %>
   </li>

   <li class="nav-item">
     <%= link_to "コース一覧", admins_couses_path, class: "nav-link" %>
   </li>

   <li class="nav-item">
     <%= link_to "ログアウト", destroy_admins_session_path, method: :delete, class: "nav-link" %>
   </li>

   <div class="search-form">
     <%= form_with url: search_admins_items_path, method: :get, local: true do |f| %>
     <%= f.text_field :keyword, size: "100x40" %>
     <%= f.submit "検索" %>
     <% end %>
    </div>
   <% end %>