<div class="container" id="cartritems-container">
<h4>ショッピングカート</h4>
  <% if @customer_cart_items.exists? %>
    <%= link_to "カートを空にする", cart_items_destroy_all_cart_items_path, method: :delete %>
    <table class="table">
      <thead>
        <tr>
          <th scope="row">商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning">
        <% sum = 0 %>
          <% @customer_cart_items.each_with_index do |cart_item, i| %>
            <!--[karage, ramen, pasta]-->
            <!--0, 1, 2-->
            <!--< %= i %>-->
            <tr id="cart_item_<%= cart_item.id %>">
              <td>
                <%= link_to item_path(cart_item.item) do %>
                  <%= attachment_image_tag cart_item.item , :image, :fill,50,50 ,fallback: "no_image.jpg",size: "50x50" %>
                  <%= cart_item.item.item_name %>
                <% end %>
              </td>
              <td>
                <% @item_price = cart_item.item.price * 1.1 %>
                  ¥<%= @item_price.floor.to_s(:delimited) %>
              </td>
              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
                  <%= f.select :pieces,[[1,1],[2,2],[3,3]],{inclued_blank: "何人前"} %>
                  <%= f.hidden_field :customer_id, :value => current_customer.id %>
                  <%= f.hidden_field :item_id, :value => cart_item.item.id %>
                   <%= f.submit "更新", class: "btn ml-3",style: "background-color: #dcf4f4; color: #778899;" %>
                <% end %>
              </td>

              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true do |f| %>
                <% @total = @item_price * cart_item.pieces.to_i %>¥<%= @total.floor.to_s(:delimited) %>
                <% end %>
              </td>

              <td>
                <%= link_to "削除する", cart_item_path(cart_item), method: :delete, remote: true %>
              </td>
            </tr>
            <% sum += @total %>
        <% end %>
        		<tr>
			         <td colspan="2"></td>
			         <td>合計金額:</td>
			         <td>
			           <% total_price = sum.floor.to_s(:delimited) %>
                 ¥<%= total_price %>
			         </td>
			         <td></td>
	        	</tr>
      </tbody>
    </table>

<h4 class="mb-3">配達希望日</h4>




    <%= form_with model: @order, url: new_order_path, method: :get, local: true do |f| %>
      <%= f.date_field :start_date %>
      <div class="mt-5">
        <%= f.submit "情報確認画面に進む", class: "btn mr-5", style: "background-color: #e96b22; color: white;" %>
        <%= link_to "買い物を続ける", items_path, class: "btn", style: "background-color: #6599cc; color: white;" %>
      </div>
    <% end %>

  <% else %>
    <p>現在、カート内に商品は入っていません</p>
  <% end %>