<!DOCTYPE html>
<html>
  <head>
    <title>Fuwaben</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller.class.parent.name == "Admins" %>
      <%= render "admins/shared/header", q: @q %>
    <% else %>
      <%= render "customers/shared/header", q: @q, cart_items: @cart_items %>
    <% end %>
    <%= yield %>
    <%= render "customers/shared/footer", q: @q %>
  </body>
</html>
