<div class='fixed-top'>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand", data: {"turbolinks" => false} do %>
        <%= image_tag 'headlogo.png', { height:80 } %>
      <% end %>

        <% if customer_signed_in? %>
          <span class="navbar-text">
            ようこそ!<%= current_customer.last_name %>さん
          </span>
          <ul class="navbar-nav ml-auto">
          <li class="mr-1">
            <%= link_to customer_path(current_customer), class: "btn mr-5", style: "background-color: #800000; color: white; " do %>
            カレンダーを見る
            <i class="fas fa-book-open"></i>
            <% end %>
          </li>

            <li class="mr-1">
           <%= link_to  items_path, class: "btn mr-5", style: "background-color: #ffa500; color: white; " do %>
           お弁当を注文する
           <i class="fas fa-utensils"></i>
           <% end %>
        </li>


          <li class="mr-1">
            <%= link_to cart_items_path, class: "btn mr-5", style: "background-color: #800000; color: white; " do %>
              注文に進む
              <i class="fas fa-cart-plus"></i>
              <% if cart_items.present? %>
                  <%= cart_items.count %>
                <% end %>
            <% end %>

            </li>

          <li class="mr-1">
            <%= link_to orders_path, class: "btn mr-5", style: "background-color: #ffa500; color: white; " do %>
            注文履歴
            <i class="fas fa-gift"></i>
            <% end %>
          </li>

           <li class="mx-4">
            <%= search_form_for q, url: search_items_path, class: "form-inline" do |f| %>
              <%= f.search_field:item_name_cont, placeholder: "\uf002" + " 検索", class: "form-control fa" %>
            <%= f.submit '検索' %>
            <% end %>
          </li>

        <% else %>
        <%= link_to "新規会員登録", new_customer_registration_path,class: "btn ", style: "background-color: #e96b22; color: white;" %>
        <%= link_to "会員はこちら", new_customer_session_path, class: "btn", style: "background-color: #cd5c5c; color: white;" %>
        <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
        <% end %>
      </ul>
    </div>
  </nav>
 </div>